@charset "UTF-8";
@font-face {
    font-family: 'MyriadPro';
    src: local("css/fonts/MyriadPro-Regular"), url("fonts/MyriadPro-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal; }
@font-face {
    font-family: 'MyriadPro';
    src: local("css/fonts/MyriadPro-Bold"), url("fonts/MyriadPro-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal; }
@font-face {
    font-family: "slick";
    src: url("./fonts/slick.eot");
    src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }
* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }







header {
    display: block;
    width: 100%;
    color: #ffffff;
    min-height: 187px;
    position: relative; }
header .slider {
    position: relative;
    z-index: 1; }

hgroup {
    display: block; }

menu {
    display: block; }

nav {
    display: block; }

section {
    display: block; }

body {
    line-height: 1;
    font-family: MyriadPro, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 100%; }

ul {
    list-style: none; }



table {
    border-collapse: collapse;
    border-spacing: 0; }

html {
    font-family: MyriadPro, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    height: 100%; }

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.wrap {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto; }

.slick-slider {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent; }
.slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0; }
.slick-list:focus {
    outline: none; }

.slick-list.dragging {
    cursor: pointer; }

.slick-track {
    margin: 0 auto; }
.slick-track:before {
    content: "";
    display: table; }
.slick-track:after {
    content: "";
    display: table;
    clear: both; }

.slick-loading .slick-track {
    visibility: hidden; }
.slick-loading .slick-slide {
    visibility: hidden; }
.slick-loading .slick-list {
    background: #fff url("./ajax-loader.gif") center center no-repeat; }

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none; }
.slick-slide img {
    display: block; }

[dir="rtl"] .slick-slide {
    float: right; }
[dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
[dir="rtl"] .slick-prev:before {
    content: "→"; }
[dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
[dir="rtl"] .slick-next:before {
    content: "←"; }

.slick-slide.slick-loading img {
    display: none; }

.slick-slide.dragging img {
    pointer-events: none; }

.slick-initialized .slick-slide {
    display: block; }

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
    display: none; }

.slick-prev {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    left: -25px; }
.slick-prev:hover {
    outline: none;
    background: transparent;
    color: transparent; }
.slick-prev:hover:before {
    opacity: 1; }
.slick-prev:focus {
    outline: none;
    background: transparent;
    color: transparent; }
.slick-prev:focus:before {
    opacity: 1; }
.slick-prev:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: ""; }

.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    padding: 0;
    border: none;
    outline: none;
    right: -25px;
    -webkit-transform: translate(0, -50%) rotate(180deg);
    transform: translate(0, -50%) rotate(180deg); }
.slick-next:hover {
    outline: none;
    background: transparent;
    color: transparent; }
.slick-next:hover:before {
    opacity: 1; }
.slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
.slick-next:focus:before {
    opacity: 1; }
.slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: ""; }

.slick-prev.slick-disabled:before {
    opacity: 0.25; }

.slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-dotted.slick-slider {
    margin-bottom: 30px; }

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%; }
.slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
.slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding: 5px;
    cursor: pointer; }
.slick-dots li button:hover {
    outline: none; }
.slick-dots li button:hover:before {
    opacity: 1; }
.slick-dots li button:focus {
    outline: none; }
.slick-dots li button:focus:before {
    opacity: 1; }
.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    color: black;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
.slick-dots li.slick-active button:before {
    color: black;
    opacity: 0.75; }

.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8; }

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden; }

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }

.mfp-align-top .mfp-container:before {
    display: none; }

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045; }

.mfp-inline-holder .mfp-content {
    width: 100%;
    cursor: auto; }

.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto; }

.mfp-ajax-cur {
    cursor: progress; }

.mfp-zoom-out-cur {
    cursor: -webkit-zoom-out;
    cursor: zoom-out; }
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -webkit-zoom-out;
    cursor: zoom-out; }

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
    cursor: auto; }

.mfp-close {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace; }
.mfp-close:hover {
    opacity: 1;
    background-color: transparent; }
.mfp-close:focus {
    opacity: 1; }
.mfp-close:active {
    top: 1px; }

.mfp-arrow {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    opacity: 0.65;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: transparent; }
.mfp-arrow:active {
    margin-top: -54px; }
.mfp-arrow:hover {
    opacity: 1; }
.mfp-arrow:focus {
    opacity: 1; }
.mfp-arrow:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent;
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }
.mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent;
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }

.mfp-preloader {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: yellowgreen;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044; }
.mfp-preloader a {
    color: yellowgreen; }
.mfp-preloader a:hover {
    color: #FFF; }

.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 0;
    right: 0;
    color: yellowgreen;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap; }

.mfp-loading.mfp-figure {
    display: none; }

.mfp-hide {
    display: none !important; }

.mfp-s-ready .mfp-preloader {
    display: none; }

.mfp-s-error .mfp-content {
    display: none; }

button.mfp-close {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    -webkit-box-shadow: none;
    box-shadow: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation; }

button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    -webkit-box-shadow: none;
    box-shadow: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation; }

.mfp-close-btn-in .mfp-close {
    color: #333; }

.mfp-image-holder .mfp-close {
    color: #FFF;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%; }
.mfp-image-holder .mfp-content {
    max-width: 100%; }

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px; }
.mfp-iframe-holder .mfp-close {
    color: #FFF;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
    top: -40px; }
.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }

.mfp-arrow-left {
    left: 0; }
.mfp-arrow-left:after {
    border-right: 17px solid gold;
    margin-left: 31px; }
.mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid yellowgreen; }

.mfp-arrow-right {
    right: 0; }
.mfp-arrow-right:after {
    border-left: 17px solid gold;
    margin-left: 39px; }
.mfp-arrow-right:before {
    border-left: 27px solid yellowgreen; }

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%; }
.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 0 8px gold;
    box-shadow: 0 0 10px darkred;
    background: sandybrown; }

img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto; }

.mfp-figure {
    line-height: 0; }
.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    -webkit-box-shadow: 0 0 8px gold;
    box-shadow: 0 0 10px darkred;
    background: sandybrown; }
.mfp-figure small {
    color: yellowgreen;
    display: block;
    font-size: 12px;
    line-height: 14px; }
.mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto; }

.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #F3F3F3;
    word-wrap: break-word;
    padding-right: 36px; }

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer; }



/*--------------------------------------------*/




a {
    text-decoration: none;
    color: inherit; }
a:hover {
    color: #fe4844; }

img {
    width: 100%; }

li {
    list-style-type: none; }

strong {
    font-weight: 700; }

.text_red {
    color: #fe4844; }

.button {
    background-color: #b6211e;
    width: 289px;
    height: 58px;
    border: none;
    color: #ffffff;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    text-align: center; }
.button:focus {
    outline: none; }
.button:hover {
    background-color: #ffffff;
    color: #413939; }
















.button_strong {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 58px;
    text-align: center; }

.button_call_form {
    background-color: #676263;
    width: 189px;
    height: 31px; }
.button_call_form:hover {
    background-color: #b6211e;
    color: #ffffff; }

.menu_hideable {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #4e4646;
    opacity: 0.9;
    z-index: 3; }








.content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px; }

main .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    align-content: flex-start;
    justify-content: stretch; }

.header_row .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    opacity: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
.header_row .header_up_raw {
    min-height: 129px; }
.header_row .menu {
    min-height: 57px;
    justify-content: space-around; }
.header_row button {
    margin: unset; }

.header_down_raw {
    border-top: 1px solid #7d7879; }
.header_down_raw li {
    list-style-type: none; }
.header_down_raw li a {
    text-transform: uppercase; }

.header_row.header_down_raw {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around; }
.header_row.header_down_raw .logo_small {
    display: none; }



















.header_slider {
    max-height: 651px;
    overflow: hidden; }
.header_slider .top_slider_text {
    position: absolute;
    top: 171px;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 700px;
    width: 100%;
    max-height: 295px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-around;
    font-size: 53px;
    line-height: 67px; }
.header_slider .top_slider_text button {
    margin-top: 25px; }
.header_slider .top_slider_text strong {
    text-transform: uppercase;
    font-size: 67px; }
.header_slider .top_slider_text span {
    text-transform: uppercase;
    font-size: 67px; }

article {
    color: #666;
    padding: 65px 0 33px 0; }
article .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.text_area {
    max-height: 101px;
    border-left: 2px solid #b3b3b3;
    overflow-y: visible; }

.name_text_area {
    font-size: 54px;
    padding-left: 25px;
    padding-bottom: 25px;
    font-weight: 300;
    text-transform: uppercase; }

.description_area {
    padding-left: 25px;
    font-size: 18px; }

.about_company .our_properties {
    padding-top: 65px; }
.about_company .our_properties nav {
    font-size: 18px;
    line-height: 30px;
    padding-top: 29px; }
.about_company .left_column {
    max-width: 657px;
    width: 100%; }
.about_company .right_column {
    max-width: 492px;
    width: 100%; }
.about_company .right_column .active {
    padding-top: 115px; }
.about_company .title {
    font-weight: 300;
    font-size: 54px;
    color: #b6211e; }
.about_company li {
    list-style-image: url("../img/list.png"); }
.about_company .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }



.galery {
    background: url("../img/2-layers-1.png") center no-repeat; }
.galery .text_area {
    color: lightgrey; }
.galery .slider_location {
    padding-top: 55px; }
.galery .slick-slide {
    margin: 0 13px 0 0; }
.galery .slick-dots {
    bottom: -65px; }
.galery .slick-dots li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d3bc93; }
.galery li.slick-active {
    background-color: #b6211e; }
.galery .slick-dotted.slick-slider {
    margin-bottom: 97px; }



.connectable_doors .name_text_area {
    color: #3a4248; }
.connectable_doors .active {
    position: relative;
    padding-top: 68px;
    min-height: 545px; }
.connectable_doors .tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
.connectable_doors .tab li {
    -ms-flex: 33%;
    flex: 33%;
    color: #b6211e;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    list-style-type: none; }
.connectable_doors .tab label {
    padding: 19px 25px 19px; }
.connectable_doors .tab__slider {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-width: 1000px;
    left: 0;
    right: 0;
    margin: 64px auto; }
.connectable_doors input[type="radio"] {
    position: absolute;
    left: -10000px; }
.connectable_doors input:checked + .tab__slider {
    z-index: 2; }




.popular {
    background-color: #f4f5f7; }
.popular input[type="radio"] {
    position: absolute;
    left: -10000px; }
.popular input:checked + .slide_block {
    z-index: 2; }
.popular .active {
    padding-top: 50px;
    min-height: 465px;
    position: relative;
    overflow: hidden; }
.popular .slide_block {
    position: absolute;
    width: 100%;
    background: #f4f5f7; }
.popular .active__item {
    z-index: 1; }
.popular .slider__item {
    width: 190px;
    min-height: 374px;
    -webkit-transition: all 2s;
    transition: all 2s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    margin: 0 10px; }
.popular .slider:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
.popular .slider__item a {
    width: 100%; }
.popular .slider__item img {
    position: absolute;
    height: 100%;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
.popular .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
.popular .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }

.popular{
    padding: 65px 0 90px 0; }

.metal-doors {
    padding: 65px 0 0 0; }
.metal-doors .active {
    position: relative;
    padding-top: 25px;
    min-height: 545px; }
.metal-doors .tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
.metal-doors .tab li {
    margin-right: 13px; }
.metal-doors .active__item {
    position: absolute;
    z-index: 1;
    top: 130px;
    width: 100%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
.metal-doors input[type="radio"] {
    position: absolute;
    left: -10000px; }
.metal-doors input:checked + .active__item {
    z-index: 2; }
.metal-doors .slider__item {
    width: 190px;
    min-height: 374px;
    height: 385px;
    overflow: hidden;
    -webkit-transition: all 2s;
    transition: all 2s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    margin: 0 10px; }
.metal-doors .slider__item:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
.metal-doors .slider__item:hover .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
.metal-doors .slider__item a {
    width: 100%; }
.metal-doors .slider__item img {
    position: absolute;
    height: 100%;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
.metal-doors .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.sert .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
.sert .title {
    color: #b6211e;
    font-size: 36px;
    margin-top: 45px;
    line-height: 46px; }
.sert .text {
    -ms-flex: 50%;
    flex: 50%; }
.sert .active {
    -ms-flex: 50%;
    flex: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.contacts .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
.contacts .header {
    color: #3a4248; }
.contacts .right {
    max-width: 794px;
    width: 100%;
    min-height: 451px; }
.contacts .active_text {
    margin-top: 16px;
    padding-left: 37px;
    color: #000000;
    font-size: 18px;
    font-weight: 700; }
.contacts .active_text li {
    margin-bottom: 50px; }
.contacts .active_text li:nth-child(1) {
    list-style-image: url(../img/Layer_106.png); }
.contacts .active_text li:nth-child(2) {
    list-style-image: url(../img/Layer_105.png); }
.contacts .active_text li:nth-child(3) {
    list-style-image: url(../img/Layer_104.png); }

.furnitura {
    color: #fff;
    background: url(../img/2-layers-2.png) top center no-repeat; }
.furnitura .slider {
    max-width: 593px;
    width: 100%;
    margin: 0 auto; }
.furnitura .slider__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-around; }
.furnitura .slider__item__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 11px; }
.furnitura .slider__item__row img {
    max-width: 189px;
    width: 100%; }
.furnitura .furnitura__brand {
    background-color: #eeeeee;
    opacity: 0.9; }
.furnitura .furnitura__brand .slick-track {
    min-height: 102px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
.furnitura .furnitura__brand .slick-track img {
    opacity: 1;
    margin: 0 15px; }
.furnitura .active__title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 45px; }
.furnitura .active__text {
    text-align: center;
    font-size: 20px;
    margin-bottom: 22px; }
.furnitura .slick-dots {
    bottom: -30px; }
.furnitura .slick-dots li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff; }
.furnitura li.slick-active {
    background-color: #b6211e; }
.furnitura .slick-dotted.slick-slider {
    margin: 39px auto 58px; }

.supreme .header {
    color: #000000; }
.supreme .active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    max-width: 1044px;
    width: 100%;
    margin: auto; }
.supreme .slider__img {
    display: inline-block;
    width: 114px;
    height: 60px;
    margin: 25px 0 42px;
    background: url(../img/5-layers.png) 0 center no-repeat; }
.supreme .slider__text {
    position: relative;
    min-height: 48px;
    overflow: hidden;
    max-width: 216px;
    color: #b5211f;
    font-size: 24px;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 99px; }
.supreme .slider__text span {
    display: block;
    position: absolute;
    background: #fff;
    z-index: 1; }
.supreme .slider__text .pas {
    z-index: 2; }
.supreme .slider__text:hover .act {
    z-index: 3; }
.supreme .act {
    color: blue; }
.supreme .slider__item {
    text-align: center; }
.supreme .car .slider__img {
    background-position-x: -277px; }
.supreme .best_items .slider__img {
    background-position-x: -583px; }
.supreme .best_price .slider__img {
    background-position-x: -893px; }
.supreme .active__text {
    color: #000000;
    font-size: 18px;
    text-align: center; }
.supreme .content {
    position: relative; }
.supreme [class*="active__text"] {
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: #fff;
    text-align: center;
    width: 100%;
    min-height: 48px;
    line-height: 129%; }

.measurements {
    background: url(../img/Layer-88.png) top center no-repeat;
    min-height: 552px;
    padding-top: 55px; }
.measurements .header {
    color: #000000; }
.measurements .active {
    max-width: 788px;
    margin: 77px auto 0;
    text-align: center;
    font-size: 36px;
    color: #000000; }
.measurements .caps {
    text-transform: uppercase; }
.measurements .red_text {
    color: #b5211d;
    font-size: 48px;
    margin-top: 66px; }
.measurements .active_phones {
    font-size: 33px;
    line-height: 40px;
    margin-top: 45px; }
.measurements .active_phones span {
    font-size: 24px;
    text-transform: uppercase; }

#over {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    z-index: 4;
    background: rgba(0, 0, 0, 0.7);
    height: 100vh; }
#over form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 35%;
    margin: auto;
    background: olive;
    padding: 50px; }
#over label {
    color: #fff; }
#over input {
    padding: 5px;
    font-size: 18px;
    margin-bottom: 10px; }
#over textarea {
    padding: 5px;
    font-size: 18px;
    margin-bottom: 10px; }
#over .close {
    padding: 5px;
    margin-bottom: 10px;
    color: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    align-self: flex-end;
    cursor: pointer;
    font-size: 33px; }

.slick-arrow {
    height: 100%;
    background: url(../img/arrow.png) center no-repeat; }

.showFlex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; }

.furnitura__brand.slider__item a {
    margin-right: 15px; }

#conf {
    display: none;
    flex-direction: column;
    color: sienna;
    background: darkred;
    text-align: justify;
    padding: 50px;
    overflow-y: scroll;
    font-size: 20px;
}
#conf h1,h2,h3{
    color: black;
}
#conf h1{
    font-size: 100px;
}
#conf h2{
    font-size: 50px;
}
#conf h3{
    font-size: 35px;
}
.bl {
    color: #000;
}

.add_z {
    z-index: 2 !important; }
/*# sourceMappingURL=styl.css.map */


footer {
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-height: 100px;
    width: 100%;
    color: #ffffff;
    background: #767274;
    opacity: 0.9; }
.footer_first_raw {
    border-bottom: 1px solid #928e90;
    opacity: 1;}
footer .footer_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    padding: 25px 15px 18px 15px; }
footer .footer_menu li a:hover {
    color: #000; }
.footer_second_raw .content {
    min-height: 91px;
    margin-bottom: 51px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    opacity: 1;
}







.mobile_menu{
    display: none;
}

.nav-toggle{
    display: none;
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background: #EF5A42;
    cursor: pointer;
}
.nav-toggle span {
    display: block;
    position: absolute;
    top: 19px;
    left: 8px;
    right: 8px;
    height: 2px;
    background: white;
}
.nav-toggle span:before, .nav-toggle span:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
}
.nav-toggle span:before {
    top: -10px;
}
.nav-toggle span:after {
    bottom: -10px;
}







@media screen and (max-width: 1280px) {
    body {
        font-size: 14px; }
    body .header_row .header_up_raw{
        display: none;
    }
    body .header_slider .top_slider_text {
        position: absolute;
        font-size: 30px;
        line-height: 42px; }
    body .header_slider .top_slider_text button {
        margin-top: 16px; }
    body .header_slider .top_slider_text strong {
        font-size: 40px; }
    body .header_slider .top_slider_text span {
        font-size: 34px; }
}


@media screen and (max-width: 1080px) {
    body {
        font-size: 14px; }
    body .header_row .header_up_raw {
        display: none; }
    body .header_slider .top_slider_text {
        position: absolute;
        font-size: 25px;
        line-height: 32px; }
    body .header_slider .top_slider_text button {
        margin-top: 12px; }
    body .header_slider .top_slider_text strong {
        font-size: 34px; }
    body .header_slider .top_slider_text span {
        font-size: 30px; }
    body .sert .title{
        font-size: 20px;
    }
     }

@media screen and (max-width: 880px) {
    body {
        font-size: 10px; }
    body .header_row .header_up_raw {
        display: none; }
    body .name_text_area {
        font-size: 36px;
        padding-left: auto !important;
        padding-bottom: auto !important; }
    body .sert .name_text_area {
        color: #b6211e;
        font-size: 27px;
        margin-top: 16px;
        line-height: 30px; }
    body .description_area {
        padding-left: 10px;
        font-size: 15px; }
    body .about .name_text_area {
        font-size: 22px;
        margin-top: 12px;
        color: #b6211e; }
    body .header_slider .button {
        margin-top: 20px;
        width: 30%;
        height: 15%; }
    body .header_slider .top_slider_text {
        position: absolute;
        margin-top: -55px;
        font-size: 22px;
        line-height: 18px;
        top: 20%;
    }
    body .header_slider .top_slider_text button {
        margin-top: 0px;
        width: 60%; }
    body .header_slider .top_slider_text strong {
        font-size: 30px; }
    body .header_slider .top_slider_text span {
        font-size: 26px; }
    body .contact {
        display: none; }
    body .sert .title{
        font-size: 18px;
    }
}

@media screen and (max-width: 700px){
    body{
        flex-direction: column;
    }
    .nav-toggle{
        position: absolute;
        display: block;
        z-index: 10;
        right: 20px;
    }
    .mobile_menu{
        display: none;
        background: #7d7879;
        position: fixed;
        top: 50px;
        right: 20px;
        z-index: 10;
    }
    .menu_hideable{
        max-height: 0;
        background: white;
        float: none;
        position: absolute;
        overflow: hidden;
        right: 0;
        left: 0;
        margin: 0;
        padding: 0;
    }
    .mobile_menu li{
        display: block;
        padding-left: 5px;
        border-bottom: 1px solid #EBEBE3;
        margin-right: 0;
        min-height: 20px;
        text-align: center;
    }
    .mobile_menu button{
        border-bottom: 1px solid #EBEBE3;
        margin-right: 0;
        width: 98%;
        left: 5%;
    }


    body footer .footer_menu,
    body footer .footer_second_raw .content,
    body main .content.content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
    body footer .footer_menu > div,
    body footer .footer_second_raw .content > div,
    body main .content.content > div {
        max-width: unset;
        width: 100%; }
    .logo1{
        width: 100%}
}

@media screen and (max-width: 361px) {
    body{
        flex-direction: column;
        font-size: 10px;
    }
    body .header_slider{
        z-index: 1;
    }
    body main .our_properties .title{
        font-size: 20px;
    }
    body main .measurements{
        min-height: 700px;
    }
    body main .measurements .active__title, body main .measurements .active_phones{
        position: relative;
        top:100px;
        z-index: 3;
        font-size: 20px;
    }
    body main .connectable_doors .active .tab{
        position: relative;
        top: 50px;
    }
    body main .metal-doors .content .active .tab, body main .metal-doors .content .active .active__item{
        position: relative;
        top: 50px;
    }
    body header {
        overflow: hidden;
        max-width: unset;
        width: 100%;
        min-height: unset;
        height: 100%;
        margin: 0;
        font-size: 10px; }

    body header .header_slider .top_slider_text {
        position: absolute;
        top: 70px;
        font-size: 10px;
        line-height: 10px;
        border: none; }
    body header .header_slider .top_slider_text button {
        text-align: center;
        width: 50%;
        font-size: 10px; }
    body header .header_slider .top_slider_text strong {
        font-size: 12px; }
    body header .header_slider .top_slider_text span {
        font-size: 11px; }
    body .supreme .active {
        webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        align-items: center; }
    body .metal-doors .tab,
    body .supreme,
    body footer .footer_menu,
    body footer .second_row .content,
    body main .content.content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
    body .metal-doors .tab > div,
    body .supreme > div,
    body footer .footer_menu > div,
    body footer .second_row .content > div,
    body main .content.content > div {
        max-width: unset;
        width: 100%; } }
